.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div > h1{
  text-align: center;
  text-decoration: underline;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div > input {
  width: 50px;
  height: 25px;
  margin: 10px;
  border: 1px solid blue;
  outline: none;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}
.list{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.listItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
.listItem > button{
  border: none;
  background-color: black;
  color: white;
  width: 50px;
  height: 30px;
  border-radius: 10px;
}
input:hover{
  width: 70px;
  height: 35px;
}